<!DOCTYPE html>
<html>
  <head>
    <title>LoginBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <%= link_to "ログアウト",session_path(current_user.id), method: :delete %>
        <%= link_to "お問い合わせ", new_contact_path %>
      <% else %>
        <%= link_to "ログイン",new_session_path %>
        <%= link_to "サインイン",new_user_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
